{
  "extends": "eslint:recommended",
  "rules": {
      "semi": ["error", "never"],
      "quotes": ["error", "backtick"]
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}